<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View Reservations</title>
</head>
<body>
<h1>View Reservations Page</h1>
<a href="/">Back to Home</a>
<table>
    <tr>
        <th>ID</th>
        <th>Romm ID</th>
        <th>Start Date</th>
        <th>End Date</th>
    </tr>
    {{range .}}
    <tr>
        <td>{{.Id}}</td>
        <td>{{.RoomId}}</td>
        <td>{{.StartTime}}</td>
        <td>{{.EndTime}}</td>
    </tr>
    {{end}}
</table>
</body>
</html>
